h1, h2, h3, h4, h5, h6, .brand {
	font-family: 'Lobster', Georgia, Times, serif;
	text-align:center;
	font-size:7em;
}
td, th {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	text-align:center;
	padding: 10 20px;
}
a {
	color: black;
}
.icon-remove {
	color: red;
}
.icon-ok {
	color: green;
}

#results {
	width: 90%;
	margin: 0 auto;
}

.processing td {
	background: magenta;
}

.maximum td {
	background: lightgreen;	
}